<h1>Tasks</h1>
<% @tasks.each do |task| %>
  <h2><%= link_to task.name, task_path(task) %></h2>
  <p><%= task.description %>
  <%= task.status %>
  <%= link_to "Edit", edit_task_path(task)%>
  <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
<% end %>

<h3><%= link_to "Add new task", new_task_path %></h3>